.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}
.Portfolio {
  margin: 0;
}

.Toolbar {
  width: 90vw;
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.ToolbarItem {
  display: block;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid #555555;
}

.ToolbarItem:nth-child(n + 2) {
  margin-left: 5px;
}

.ToolbarItem:hover {
  cursor: pointer;
}

.selected {
  color: #ffffff;
  background-color: #555555;
}

.ProjectList {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.Project {
  width: calc(30% - 8px);
  padding: 6px;
}

.project__img {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
